<a class="card bg-dark" style="width: 150px; max-height:180px"
   routerLink="/view-details"
   routerLinkActive="active"
>
  <img [src]="game.gameImg" class="card-img-top" [alt]="game.gameName"  height="100px">
  <div class="card-body">
    <h5 class="card-title">{{ game.gameName }}</h5>
  </div>
</a>
