<nav class="navbar navbar-expand-lg navbar-dark toolbar ">
    <h3 class="mr-5 ml-3"> Game cataloger </h3>
    <div class="navbar-expand">
      <ul class="navbar-nav mt-auto">
        <li class="nav-item">
          <a routerLink="/create-game" routerLinkActive="active" class="nav-link">Create game</a>
        </li>
        <li class="nav-item">
          <a routerLink="/play-list" routerLinkActive="active" class="nav-link">Game list</a>
        </li>
      </ul>
    </div>
</nav>

