.toolbar{
  background: rgb(137,110,185);
  background: radial-gradient(circle, rgba(137,110,185,1) 48%, rgba(237,175,202,1) 65%,
  rgba(163,127,189,1) 76%, rgba(33,42,167,1) 90%, rgba(122,62,181,0.020045518207282953) 100%);
  text-align: center;
  font-weight: bolder;
}
