<form class="col-4 border border-dark m-3" (ngSubmit)="createGame()">
    <legend>Create Game</legend>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text btns" >Name</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
             #gameName
      >
      <button class="btns" (click)="gameName.value = ''">Delete</button>
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text btns">Image</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
             #gameImg
      >
      <button class="btns" (click)="gameImg.value = ''">Delete</button>
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text btns">Platform</span>
      <select class="form-select pr-5 pl-5" aria-label="Default select example"
              #gamePlatform
      >
        <option value="1">Windows</option>
        <option value="2">PlayStation4</option>
        <option value="3">Super Nintendo</option>
      </select>
    </div>
    <div class="input-group input-group-sm mb-3">
        <textarea name="gamesDescription" id="gamesDescription" cols="50" rows="5"
                  placeholder="Briefly about the game:"
                  #gameDescription

        ></textarea>
      <button class="btns text-right" (click)="gameDescription.value = ''">Delete</button>
    </div>
  <button class="btn btn-primary ">Create</button>&nbsp;
</form>
