body{
  background: rgb(40,27,115);
  background: radial-gradient(circle, rgba(40,27,115,1) 0%, rgba(135,142,208,1) 100%);
  color: #fff;
  height: 1000px;
}
.footer{
  text-align: center;
  position:fixed;
  left: 0;
  bottom: 0;
  height:30px;
  width:100%;
}
