<header>
  <app-toolbar></app-toolbar>
</header>
<body>
  <h1 class="text-center ">Your games</h1>
  <router-outlet></router-outlet>
</body>
<footer class="bg-dark text-center">
  <p>from Bishkek</p>
</footer>
