<div class="row ml-3 pt-2">
  <div class="col-4">
    <h4>Play list</h4>
    <div class="list-group" >
      <a *ngFor="let game of games; let i = index"
         class="platform"
         [routerLink]="[i]"
         routerLinkActive="active"
      >{{ game.gamePlatform}}</a>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>

